<div class="border-b-4 border-gray-500 pb-5 grid grid-cols-1 md:grid-cols-2 h-screen">
  <div class="shadow-xl rounded flex justify-center items-center flex-col p-5 h-full">
    <div id="top-title" class="text-4xl font-dancing">Kim Jong Un Family</div>

    <div id="top-content" class="flex justify-center items-center flex-col">
      <p class="text-center text-lg">
        Kim Jong Un was born on January 8, 1984, and is the son of Kim Jong Il, the previous leader of North Korea, and the grandson of Kim Il Sung, the country’s founder.
      </p>
    </div>

    <div id="top-author" class="self-end font-sans italic font-bold">"Kim Il Song"</div>
  </div>
  <div class="bg-violet-500 bg-no-repeat bg-cover bg-[url('https://img.kyodonews.net/english/public/images/posts/4822001f7d7fa33ae83b130dc27145f8/photo_l.jpg')]"></div>
</div>
