<div id="categories" class="font-serif sticky top-24 bg-white z-10" style="border-bottom: 4px solid black">
  <!-- Horizontal layout for medium and larger screens -->
  <div class="hidden xl:flex justify-center items-center overflow-x-auto whitespace-nowrap" style="font-size: 0.8vw">
    <div class="py-2 px-2 hover:underline hover:bg-gray-100cursor-pointer font-bold w-full text-center">
      <a href="">News</a>
    </div>
    <div class="py-2 px-2 hover:underline hover:bg-gray-100 cursor-pointer font-bold w-full text-center">
      <a href="">Sports</a>
    </div>
    <div class="py-2 px-2 hover:underline hover:bg-gray-100 cursor-pointer font-bold w-full text-center">
      <a href="">Technology</a>
    </div>
    <div class="py-2 px-2 hover:underline hover:bg-gray-100 cursor-pointer font-bold w-full text-center">
      <a href="">World News</a>
    </div>
    <div class="py-2 px-2 hover:underline hover:bg-gray-100 cursor-pointer font-bold w-full text-center">
      <a href="">Politics</a>
    </div>
    <div class="py-2 px-2 hover:underline hover:bg-gray-100 cursor-pointer font-bold w-full text-center">
      <a href="">Health</a>
    </div>
    <div class="py-2 px-2 hover:underline hover:bg-gray-100 cursor-pointer font-bold w-full text-center">
      <a href="">Economy</a>
    </div>
  </div>

  <!-- Dropdown for xs and sm screens -->
  <div class="xl:hidden px-2 py-2">
    <select class="w-full border border-black rounded p-2">
      <option value="latest">The latest</option>
      <option value="news">News</option>
      <option value="books">Books & Culture</option>
      <option value="fiction">Fiction & Poetry</option>
      <option value="humor">Humor & Cartoons</option>
      <option value="magazine">Magazine</option>
      <option value="puzzles">Puzzles & Games</option>
      <option value="video">Video</option>
      <option value="podcasts">Podcasts</option>
      <option value="goings-on">Goings on</option>
      <option value="shop">Shop</option>
    </select>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Take all the section for the

    // Animation
    const catsBar = document.getElementById('categories');
    const catsBarHeight = catsBar.offsetHeight;
    const headerBar = document.getElementById('header');
    const headerHeight = headerBar.offsetHeight;
    const headerText = headerBar.querySelectorAll('*');
    let lastScrollY = window.scrollY;
    document.addEventListener('scroll', () => {
      const currentScrollY = window.scrollY;
      console.log(currentScrollY);

      if (currentScrollY > lastScrollY) {
        if (currentScrollY >= 1000) {
          catsBar.style.transform = 'translateY(-100%)';
          catsBar.style.transition = 'transform 0.3s ease-in-out';
        }
      } else {
        catsBar.style.transform = 'translateY(0)';
        catsBar.style.transition = 'transform 0.3s ease-in-out';
      }

      lastScrollY = currentScrollY;

      if (catsBar.getBoundingClientRect().top === 96) {
        headerBar.style.backgroundColor = 'white';
        catsBar.style.borderTop = '2px solid black';
        catsBar.style.borderBottom = '2px solid black';

        if (headerBar.classList.contains('bg-opacity-50')) {
          headerBar.classList.remove('bg-opacity-50');
        }
        headerText.forEach((content) => {
          if (content.classList.contains('text-5xl')) {
            content.classList.remove('text-5xl');
            content.classList.add('text-4xl');
          }
          if (content.classList.contains('text-xl')) {
            content.classList.remove('text-xl');
            content.classList.add('text-lg');
          }
        });
      } else {
        catsBar.style.borderTop = '';
        catsBar.style.borderBottom = '4px solid black';

        if (!headerBar.classList.contains('bg-opacity-50')) {
          headerBar.classList.add('bg-opacity-50');
        }
        headerText.forEach((content) => {
          if (content.classList.contains('text-4xl')) {
            content.classList.remove('text-4xl');
            content.classList.add('text-5xl');
          }
          if (content.classList.contains('text-lg')) {
            content.classList.remove('text-lg');
            content.classList.add('text-xl');
          }
        });
      }
    });
  });
</script>
