<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  </head>
  <body>
    <div class="relative pb-2 z-10" style="width: 95vw">
      <%- include('CatBar') %>

      <%- include('Section', { title: 'THE LEDGE'  }) %>

      <%- include('Banner') %>
    </div>
  </body>

</html>
