<div class="h-72 bg-red-400">
  <div class="h-2/5 bg-violet-400"></div>
  <div class="overflow-hidden text-ellipsis whitespace-nowrap">What Russia and Ukraine Want from a Second Trump Presidency</div>
  <div class="overflow-hidden text-ellipsis whitespace-nowrap">
    The Trump Administration will likely to take the lead in any negotiations to end the war - a development that Vladimir Putin would welcome.
  </div>
  <div class="font-bold">By Joshua Yaffara</div>
</div>
