<div id="card-container" class="relative mt-4 mb-4 z-0 flex flex-col justify-center items-center overflow-hidden" style="border-bottom: 1px solid black">
  <div class="w-[50px] h-[50px] flex justify-center items-center"><img class="object-center w-full h-full" src="/images/landingPageComponents/2.webp" alt="" /></div>
  <div class="relative text-center py-4 font-bold font-serif text-4xl"><%= title %></div>

  <!-- Carousel Wrapper -->
  <div id="carousel-wrapper" class="relative overflow-hidden mb-4;">
    <div id="carousel-items" class="flex gap-4 transition-transform duration-500">
      <% articles.forEach((article) => { %>
      <div id="card-element" class="p-4 bg-white shadow-xl rounded-lg" style="height: 75vh">
        <%- include('../../components/Newspaper/NewspaperCardTopSection', { article: article, latestArticle: article.latestArticle }) %>
      </div>
      <% }) %>
    </div>
  </div>

  <div id="carousel-nav" class="h-10 relative flex justify-center items-center bottom-2 gap-2"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const carouselItems = document.getElementById('carousel-items');
    const carouselWrapper = document.getElementById('carousel-wrapper');
    const cardElements = document.querySelectorAll('#card-element');
    const cardSection4 = document.querySelector('#card-section4');
    let itemsToShow = window.innerWidth >= 1024 ? 4 : window.innerWidth < 768 ? 1 : 2;

    // const totalItems = carouselItems.children.length;
    const totalItems = 7;

    let carouselWrapperWidth = carouselWrapper.offsetWidth;
    let itemWidth = cardSection4.offsetWidth;
    let distance = 16;

    let offsetMove = itemWidth + distance;

    cardElements.forEach((element) => {
      element.style.minWidth = `${itemWidth}px`;
    });

    window.addEventListener('resize', () => {
      itemsToShow = window.innerWidth >= 1024 ? 4 : window.innerWidth < 768 ? 1 : 2;
      carouselWrapperWidth = carouselWrapper.offsetWidth;
      itemWidth = cardSection4.offsetWidth;
      distance = 16;
      offsetMove = itemWidth + distance;

      cardElements.forEach((element) => {
        element.style.minWidth = `${itemWidth}px`;
      });
    });

    let currentIndex = 0;
    const slideNumber = totalItems - itemsToShow;

    // nav dot
    const navContainer = document.getElementById('carousel-nav');
    for (let i = 0; i <= slideNumber; i++) {
      const dot = document.createElement('div');
      dot.classList.add('h-3', 'w-3', 'rounded-full', 'bg-black', 'cursor-pointer');
      dot.dataset.index = i;
      navContainer.appendChild(dot);
    }

    const navDots = document.querySelectorAll('#carousel-nav div');
    navDots.forEach((element) => {
      element.addEventListener('click', (event) => {
        index = event.target.dataset.index;
        currentIndex = index;
        navDots.forEach((dot) => {
          dot.classList.remove('bg-red-500');
          dot.classList.add('bg-black');
        });
        event.target.classList.remove('bg-black');
        event.target.classList.add('bg-red-500');
        carouselItems.style.transform = `translateX(${-currentIndex * offsetMove}px)`;
      });
    });
    function updateActiveDot(currentIndex) {
      navDots.forEach((element) => {
        element.classList.remove('bg-red-500');
        element.classList.add('bg-black');
      });
      navDots[currentIndex].classList.remove('bg-black');
      navDots[currentIndex].classList.add('bg-red-500');
    }

    // Carousel moving
    function moveCarousel() {
      const offset = -currentIndex * offsetMove;
      carouselItems.style.transform = `translateX(${offset}px)`;
      updateActiveDot(currentIndex);
      if (currentIndex >= slideNumber) {
        currentIndex = 0;
      } else {
        currentIndex++;
      }
    }
    moveCarousel();
    setInterval(moveCarousel, 2000);
  });
</script>
