<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/editor.css" />
    <title>Document</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center">
      <div class="main-container" style="width: 96%">
        <div class="editor-container editor-container_classic-editor" id="editor-container">
          <div class="editor-container__editor"><div id="editor"></div></div>
        </div>
      </div>
    </div>
  </body>
</html>
