<<<<<<< HEAD
<div class="bg-black relative" style="padding: 20px; z-index: 1000">
=======
<div class="bg-black relative" style="margin-top: 50px; padding: 20px">
>>>>>>> 975aab93008dd7937af3a39ab65e17bf11d0dd69
  <div id="footer-title">
    <div class="text-center text-xl text-white font-serif">THE</div>
    <div class="text-center text-3xl text-white font-serif">KIM JONG UN</div>
  </div>
  <div id="footer-table">
    <div class="hidden sm:grid grid-cols-2 grid-rows-2 text-white border-b-2 border-b-white p-4 w-full">
      <div id="footer-section" class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg">SECTION</div>
        <div class="grid grid-cols-2 w-full font-dancing text-gray-400">
          <div>
            <%section1.forEach((section) => {%>
            <div class="hover:text-gray-100 cursor-pointer"><%=section.name%></div>
            <%})%>
          </div>
          <div>
            <%section2.forEach((section) => {%>
            <div class="hover:text-gray-100 cursor-pointer"><%=section.name%></div>
            <%})%>
          </div>
        </div>
      </div>

      <div class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg">MORE</div>
        <div class="grid grid-cols-2 w-full font-dancing text-gray-400">
          <div>
            <div>Manage Account</div>
          </div>
          <div></div>
        </div>
      </div>

      <div class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg"></div>
        <div class="grid grid-cols-2 font-dancing text-gray-400 items-center w-full h-full">
          <div>
            <div class="hover:text-gray-100 cursor-pointer">About</div>
            <div class="hover:text-gray-100 cursor-pointer">Careers</div>
            <div class="hover:text-gray-100 cursor-pointer">Contact</div>
          </div>
          <div>
            <div class="hover:text-gray-100 cursor-pointer">F.A.Q</div>
            <div class="hover:text-gray-100 cursor-pointer">Media Kit</div>
            <div class="hover:text-gray-100 cursor-pointer">Press</div>
          </div>
        </div>
      </div>

      <div class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg"></div>
        <div class="grid grid-cols-2 font-dancing text-gray-400 items-center w-full h-full">
          <div>
            <div class="hover:text-gray-100 cursor-pointer">Accessibility Help</div>
            <div class="hover:text-gray-100 cursor-pointer">User Agreement</div>
          </div>
          <div>
            <div class="hover:text-gray-100 cursor-pointer">Privacy Policy</div>
            <div class="hover:text-gray-100 cursor-pointer">Your Privacy Rights</div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="sm:hidden grid grid-cols-1 grid-rows-2 text-white border-b-2 border-b-white p-4 w-full">
      <div id="footer-section" class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg">SECTION</div>
        <div class="grid grid-cols-2 w-full font-dancing text-gray-400">
          <div>
            <%section1.forEach((section) => {%>
            <div class="hover:text-gray-100 cursor-pointer"><%=section.name%></div>
            <%})%>
          </div>
          <div>
            <%section2.forEach((section) => {%>
            <div class="hover:text-gray-100 cursor-pointer"><%=section.name%></div>
            <%})%>
          </div>
        </div>
      </div>

      <div class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg"></div>
        <div class="grid grid-cols-2 font-dancing text-gray-400 items-center w-full h-full">
          <div>
            <div class="hover:text-gray-100 cursor-pointer">About</div>
            <div class="hover:text-gray-100 cursor-pointer">Careers</div>
            <div class="hover:text-gray-100 cursor-pointer">Contact</div>
          </div>
          <div>
            <div class="hover:text-gray-100 cursor-pointer">F.A.Q</div>
            <div class="hover:text-gray-100 cursor-pointer">Media Kit</div>
            <div class="hover:text-gray-100 cursor-pointer">Press</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
