<div id="header" class="font-serif sticky top-0 w-full bg-white lg:bg-opacity-50 h-24 flex flex-col justify-center items-center z-50 transition-opacity duration-300">
  <div id="header-title" class="flex justify-center items-center flex-col" style="font-family: 'MyCustomFont'">
    <div class="text-center">
      <div class="sm:text-xl text-lg font-bold">
        <a href="/">THE</a>
      </div>
      <div class="sm:text-4xl text-3xl">
        <a href="/">ELON MUSK</a>
      </div>
    </div>
  </div>

  <div id="header-navbar" class="hidden lg:absolute lg:right-0 w-2/6 lg:flex flex-row justify-evenly items-center">
    <% if (profile) { %>
    <a href="/profile" class="text-lg xl:text-lg hover:underline"><%= profile.profileName %></a>
    <a class="text-lg xl:text-lg hover:underline" href="/logout">Logout</a>
    <a href="/search-page">
      <svg class="w-4 h-4 text-gray-500 hover:text-gray-700 hover:scale-110 transition-all" focusable="false">
        <path fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0Zm-1.126 4.582a6 6 0 1 1 .707-.707l3.773 3.771-.707.708-3.773-3.772Z"></path>
      </svg>
    </a>
    <% } else { %>
    <a class="text-lg xl:text-lg hover:underline" href="/login">Login</a>
    <a class="text-lg xl:text-lg hover:underline" href="/register">Register</a>
    <a href="/search-page">
      <svg class="w-4 h-4 text-gray-500 hover:text-gray-700 hover:scale-110 transition-all" focusable="false">
        <path fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0Zm-1.126 4.582a6 6 0 1 1 .707-.707l3.773 3.771-.707.708-3.773-3.772Z"></path>
      </svg>
    </a>
    <% } %>
  </div>

  <div id="header-navbar-small" class="lg:hidden w-11/12 flex flex-row justify-between items-center">
    <% if (profile) { %>
    <a class="text-sm xl:text-lg hover:underline hover:text-gray-400 w-1/3 flex justify-center items-center" href="/profile"><%= profile.profileName %></a>
    <a class="text-sm xl:text-lg hover:underline hover:text-gray-400 w-1/3 flex justify-center items-center" href="/logout">Logout</a>
    <a href="/search-page" class="text-center w-1/3 flex justify-center items-center">
      <svg class="w-4 h-4 text-gray-500 hover:text-gray-700 hover:scale-110 transition-all" focusable="false">
        <path class="self-end" fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0Zm-1.126 4.582a6 6 0 1 1 .707-.707l3.773 3.771-.707.708-3.773-3.772Z"></path>
      </svg>
    </a>
    <% } else { %>
    <a class="text-sm xl:text-lg hover:underline hover:text-gray-400 w-1/3 flex justify-center items-center" href="/login">Login</a>
    <a class="text-sm xl:text-lg hover:underline hover:text-gray-400 w-1/3 flex justify-center items-center" href="/register">Register</a>
    <a href="/search-page" class="text-center w-1/3 flex justify-center items-center">
      <svg class="w-4 h-4 text-gray-500 hover:text-gray-700 hover:scale-110 transition-all" focusable="false">
        <path class="self-end" fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0Zm-1.126 4.582a6 6 0 1 1 .707-.707l3.773 3.771-.707.708-3.773-3.772Z"></path>
      </svg>
    </a>
    <% } %>
  </div>
</div>
