<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Forgot password</title>
  </head>
  <body class="h-screen flex items-center justify-center">
    <div class="rounded-md py-4 px-[2%] shadow-sm w-[30%] border border-black">
      <div class="text-[20px] font-semibold mb-4">Reset your password</div>
      <form action="/login/send-otp" method="POST" class="flex flex-col">
        <div class="flex justify-between">
          <label for="email">Email</label>
          <% if (error.length > 0) { %>
          <div class="text-[14px] text-red-500"><%= error %></div>
          <% } %>
        </div>
        <input type="email" name="email" placeholder="Enter your email" class="border border-gray-300 p-2 rounded-md focus:ring focus:ring-blue-300 mb-4" />
        <button class="text-white bg-[#3086FF] rounded-lg py-3 shadow-lg hover:bg-[#2668c9] transition duration-300">SEND EMAIL OTP</button>
      </form>
    </div>
  </body>
</html>
