<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Verify OTP</title>
  </head>
  <body class="h-screen flex items-center justify-center">
    <div class="rounded-md py-4 px-[2%] shadow-sm w-[30%] border border-black space-y-2">
      <div class="text-[20px] font-semibold mb-4">Enter OTP to Reset Your Password</div>
      <form action="/login/forgot-password/verify" method="POST" class="flex flex-col">
        <!-- Lưu email trong input hidden -->
        <input type="hidden" name="email" value="<%= email %>" />

        <div class="flex justify-between">
          <label for="otp">OTP</label>
          <% if (error.length > 0) { %>
          <div class="text-[14px] text-red-500"><%= error %></div>
          <% } %>
        </div>
        <input type="text" name="otp" placeholder="Enter OTP" class="border border-gray-300 p-2 rounded-md focus:ring focus:ring-blue-300 mb-6" />

        <button class="text-white bg-[#3086FF] rounded-lg py-3 shadow-lg hover:bg-[#2668c9] transition duration-300">Verify OTP</button>
      </form>

      <!-- Resend OTP Button -->
      <form action="/login/send-otp" method="POST" class="mt-0">
        <input type="hidden" name="email" value="<%= email %>" />
        <div class="text-center">
          <button class="text-blue-500 font-semibold hover:text-blue-700 transition duration-300 text-[14px]">Resend OTP</button>
        </div>
      </form>
    </div>
  </body>
</html>
