<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Reset Password</title>
  </head>
  <body class="h-screen flex items-center justify-center">
    <div class="rounded-md py-4 px-[2%] shadow-sm w-[30%] border border-black">
      <div class="text-[20px] font-semibold mb-4">Enter New Password</div>
      <form action="/login/forgot-password/reset" method="POST" class="flex flex-col">
        <!-- Lưu email vào hidden field -->
        <input type="hidden" name="email" value="<%= email %>" />

        <div class="flex justify-between">
          <label for="newPassword ">New Password</label>
          <% if (error.length > 0) { %>
          <div class="text-[14px] text-red-500"><%= error %></div>
          <% } %>
        </div>
        <input type="password" name="newPassword" placeholder="Enter new password" class="border border-gray-300 p-2 rounded-md focus:ring focus:ring-blue-300 mb-6" />

        <button class="text-white bg-[#3086FF] rounded-lg py-3 shadow-lg">Reset Password</button>
      </form>
    </div>
  </body>
</html>
