<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="bg-gray-100">
    <div class="max-w-md mx-auto mt-10">
      <% if (locals.flash && locals.flash.error) { %>
      <div class="bg-red-500 text-black p-3 rounded mb-4"><%= locals.flash.error %></div>
      <% } %>
      <form action="/account/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8">
        <h2 class="text-2xl font-bold mb-4 text-red-400">Login</h2>
        <div class="mb-4">
          <label for="username" class="block text-gray-700">Username</label>
          <input type="text" name="username" id="username" class="w-full px-3 py-2 border rounded" />
        </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-700">Password</label>
          <input type="password" name="password" id="password" class="w-full px-3 py-2 border rounded" />
        </div>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>

        <!-- Đường dẫn GitHub -->
        <div class="mt-4">
          <a href="/account/github/login">
            <img src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_960_720.png" class="h-[50px]" alt="GitHub Login" />
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
