<div class="w-full shadow-lg rounded-lg p-2">
  <div class="flex">
    <div class="rounded-full w-12 h-12">
      <img class="w-full h-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAXKkELt_XuteDLQY_HKcilbvgT3LDOm5WkQ&s" alt="Profile" />
    </div>
    <div class="ml-4">
      <div class="font-bold text-lg">Liliam Rubicorn</div>
      <div class="text-sm text-gray-400">27 minutes ago</div>
    </div>
  </div>
  <div class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa rem numquam blanditiis sunt cumque et tenetur temporibus, nam saepe. Earum neque facere aspernatur quo ipsam ex doloremque, quas
    voluptate dolorum!
  </div>
</div>
