<div class="last-modified">
  <strong>Last Modified:</strong>
  <%= device.fireSensor.history.length > 0 ? new  Date(device.fireSensor.history[device.fireSensor.history.length -  1].timestamp).toLocaleString() : "No Data" %>
</div>
