<div class="bg-black">
  <div id="footer-title">
    <div class="text-center text-xl text-white font-serif">THE</div>
    <div class="text-center text-3xl text-white font-serif">KIM JONG UN</div>
  </div>
  <div id="footer-table">
    <div class="grid grid-cols-2 grid-rows-2 text-white border-b-2 border-b-white p-4 w-full">
      <div id="footer-section" class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg">SECTION</div>
        <div class="grid grid-cols-2 w-full font-dancing text-gray-400">
          <div>
            <div>News</div>
            <div>Books & Culture</div>
            <div>Fiction & Poetry</div>
            <div>Humor & Cartoons</div>
            <div>Magazine</div>
          </div>
          <div>
            <div>News</div>
            <div>Books & Culture</div>
            <div>Fiction & Poetry</div>
            <div>Humor & Cartoons</div>
            <div>Magazine</div>
          </div>
        </div>
      </div>

      <div id="footer-more" class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg">MORE</div>
        <div class="grid grid-cols-2 w-full font-dancing text-gray-400">
          <div>
            <div>Manage Account</div>
            <div>Kim Jong Un</div>
            <div>Kim Jong Un</div>
            <div>Kim Jong Un</div>
          </div>
          <div>
            <div>Manage Account</div>
            <div>Kim Jong Un</div>
            <div>Kim Jong Un</div>
            <div>Kim Jong Un</div>
          </div>
        </div>
      </div>

      <div id="footer-more" class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg"></div>
        <div class="grid grid-cols-2 font-dancing text-gray-400 items-center w-full h-full">
          <div>
            <div>About</div>
            <div>Careers</div>
            <div>Contact</div>
          </div>
          <div>
            <div>F.A.Q</div>
            <div>Media Kit</div>
            <div>Press</div>
          </div>
        </div>
      </div>

      <div id="footer-more" class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg"></div>
        <div class="grid grid-cols-2 font-dancing text-gray-400 items-center w-full h-full">
          <div>
            <div>Accessibility Help</div>
            <div>User Agreement</div>
          </div>
          <div>
            <div>Privacy Policy</div>
            <div>Your VietNam Privacy Rights</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
</div>
