<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://png.pngtree.com/png-clipart/20231101/original/pngtree-vietnam-button-with-flag-symbol-photo-png-image_13471749.png" type="image/png" />

    <title>The Elon Musk</title>
  </head>
  <body>
    <div class="fixed top-0 w-full h-24" style="z-index: 10"><%- include('../../layouts/partials/HeaderTitle', { profile:profile }) %></div>
    <div class="sticky top-0 hidden md:flex">
      <video autoplay loop muted class="w-screen h-screen object-cover">
        <source  src="/images/background/background.mp4" type="video/mp4"></source>
      </video>
    </div>
    <div class="flex justify-center mt-24"><%- include(body, {data: data, sections: sections}) %></div>
    <%- include('../partials/Footer', { section1: sections.slice(0, 5), section2: sections.slice(5, 10) }) %>
  </body>
</html>
