<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://png.pngtree.com/png-clipart/20231101/original/pngtree-vietnam-button-with-flag-symbol-photo-png-image_13471749.png" type="image/png" />

    <title>The Kim Jong Un</title>
  </head>
  <body>
    <%- include('../../layouts/partials/HeaderTitle', { profile:profile }) %>

    <div class="lg:h-dvh lg:bg-no-repeat lg:bg-cover lg:bg-red-500 lg:bg-[url('https://mrwallpaper.com/images/hd/north-korea-kim-jong-un-serious-8jdq18vtsyq3c9r4.jpg')] bg-center"></div>

    <div class="flex justify-center"><%- include(body, {data: data, sections: sections}) %></div>

    <%- include('../partials/Footer', { section1: sections.slice(0, 5), section2: sections.slice(5, 10) }) %>
  </body>
</html>
