<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/fonts.css" />

    <link rel="icon" href="https://png.pngtree.com/png-clipart/20231101/original/pngtree-vietnam-button-with-flag-symbol-photo-png-image_13471749.png" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>The Elon Musk</title>
  </head>
  <body>
    <div id="header" class="fixed top-0 w-full h-24 bg-white z-10 hidden">
      <%- include('../../layouts/partials/HeaderTitle', { profile:profile }) %>
    </div>
    <div class="relative top-0 hidden md:flex">
      <video autoplay loop muted class="w-screen h-screen object-cover">
        <source src="https://web-newspaper.s3.ap-southeast-2.amazonaws.com/Background.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZKDIC7YI3BJQZT23%2F20241206%2Fap-southeast-2%2Fs3%2Faws4_request&X-Amz-Date=20241206T175920Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHoaDmFwLXNvdXRoZWFzdC0yIkcwRQIhAPynr1mghWeD%2BXZ9SOourlFjVbdMvORZNcSMO0zmAmF%2BAiBuCTnh%2FLpWXiWNN%2FQJibdToswoEitEJvUKAYtdimGlDiroAggzEAAaDDY0MDE2ODQyNzAyNSIMgUoPKckK9PgNkjq%2FKsUCV4vPgp4ncPgUmLVpX35FTLzg1YXGtIG7DNC1ruoBL8687rOPx6BUxtfjqPPEH8Z2mIXHfzGEtEzltEcEgZAUIcy9TT0h%2F%2F0FywvIS2d4FkoAEs9N4ctyd3DReYZSaUL2kn7wKVIIAMU8GPRGEt69qdeLqeo%2FF7MKLh597wSb%2Fj9L5q3u3E5cmg7%2FwgysvuWIGvDuvyaUaRKFbzGXS1wfwJoCz6dmi%2FYFfJLUDg8KRyS%2BvgbW6kUoXLL1EntXPJ6uZ8%2FoE2SI%2F5F7OT5%2FzOLbjtIPEnMBO2AeKKMHXu2XORwHK1CObaj%2Fjhe86MkgfpRuNxLrwClX7lBqMf60fCtmlJYLYLAI4ySUZalG0HOcqvL65mkep1FDWNOltz1jscRLkpoqZz53WLLd3nymZX9b5cR%2B3eho4%2FZTBfzXReMWAlA7foS4wzDj8sy6BjqzAqKaW5ASJGD%2By1c6m0Oa8MMmZL7HxedxPzesTrISYWJROvj2XqNsCA%2Be%2FBs%2BmGshrdplJj9P97Vt2z1XZN7NYATk4lQ1HQSjWB7XVoDcq1QfjLswIAfjZr9lBE193DlRrCzx42oeKouLch%2BO3BNay1Z9ATNhYJXWagbV1h8j5W1wAOLbYbQ42uFz%2Fmg1UwVOSIe7uSW4McH43YQVEnJrl%2FurjGfhSvnhKzr%2FEDny%2FDryusn5ExOLoiNoFtRqxjdEKArBGi58RS8q5ROtYMEElgUT8MYPmk9DOX8%2FooRhpWZV%2FegpSFaIscAxn%2BmhH77vao276pg8LJrEz9sC%2Fjqkmv7HZ%2Fa%2FVMOpmI2ZPZD%2FX3JQfq%2FKuH6izll%2FjOWvcg93wUYkrxo6fwuCzVyYryFAHT%2FIP%2Bk%3D&X-Amz-Signature=0b9ec56e3c31d113bdb277dc15ac4141b49fd4b054e3bb44f618a38be5ca3c8b&X-Amz-SignedHeaders=host&response-content-disposition=inline" type="video/mp4"></source>
      </video>
      <div id="intro-text" class="absolute inset-0 flex items-start justify-start p-10">
        <h1 class="text-white text-7xl font-extrabold animate__animated animate__fadeInRight " style="font-family: 'MyCustomFont'; color: black;">THE ELON MUSK</h1>
      </div>
    </div>
    <div class="flex justify-center mt-24"><%- include(body, {data: data, sections: sections}) %></div>
    <%- include('../partials/Footer', { section1: sections.slice(0, 5), section2: sections.slice(5, 10) }) %>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const header = document.getElementById('header');
        const introText = document.getElementById('intro-text');
        let lastScrollY = window.scrollY;

        const handleScroll = () => {
          const currentScrollY = window.scrollY;
          if (currentScrollY > lastScrollY) {
            // Scrolling down
            introText.classList.add('hidden');
            header.classList.remove('hidden');
          } else if (currentScrollY === 0) {
            // Scrolling up to the top
            introText.classList.remove('hidden');
            header.classList.add('hidden');
          }
          lastScrollY = currentScrollY;
        };

        // Check scroll position on page load
        if (window.scrollY > 0) {
          introText.classList.add('hidden');
          header.classList.remove('hidden');
        }

        window.addEventListener('scroll', handleScroll);
      });
    </script>
  </body>
</html>