<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Document</title>
  </head>
  <body>
    <div style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSiOr2YzSkYH-suHR9kO0ZaVT2QdSt5nP2Fw&s)" class="h-72"></div>
    <div class="w-11/12 flex justify-center"><%- include(body) %></div>
  </body>
</html>
