<div class="text-white">SECTIONS</div>
<div class="grid grid-cols-2 text-white">
  <div>
    <div>News</div>
    <div>Books & Culture</div>
    <div>Fiction & Poetry</div>
    <div>Humor & Cartoons</div>
    <div>Magazine</div>
  </div>
  <div class="">
    <div>Crossword</div>
    <div>Video</div>
    <div>Podcasts</div>
    <div>Archive</div>
    <div>Goings on</div>
  </div>
</div>
