<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* Start styling table */
      th.sorting_asc,
      th.sorting_desc {
        color: white !important; /* Màu chữ khi được chọn */
      }

      th {
        background-color: #212529;
        color: white;
      }
      .input {
        color: #333;
        font:
          1em/1.5 Hind,
          sans-serif;
      }
      #example {
        table-layout: fixed;
        width: 100%; /* Hoặc một giá trị cụ thể */
      }
      /* End styling table */
      th#id {
        text-align: center !important;
      }
      /* Start button styling */
      .button {
        position: relative;
        width: 200px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid #34974d;
        background-color: #3ec27c;
      }

      .button,
      .button__icon,
      .button__text {
        transition: all 0.3s;
      }

      .button .button__text {
        transform: translateX(5px);
        padding: 0 10px;
        color: #fff;
        font-weight: 600;
      }

      .button .button__icon {
        position: absolute;
        transform: translateX(160px);
        height: 100%;
        width: 39px;
        background-color: #12a155;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .button .svg {
        width: 30px;
        stroke: #fff;
      }

      .button:hover {
        background: #12a155;
      }

      .button:hover .button__text {
        color: transparent;
      }

      .button:hover .button__icon {
        width: 148px;
        transform: translateX(30px);
      }

      .button:active .button__icon {
        background-color: #12a155;
      }

      .button:active {
        border: 1px solid #12a155;
      }
      /* End button styling */
    </style>
  </head>
  <body>
    <%-include('../../../components/Dashboard/introScreen.ejs')%>
    <div class="flex justify-between">
      <h1 class="text-[40px] font-bold font-serif">Section List</h1>
    </div>
    <button type="button" class="button mt-4" data-modal-target="create-section-modal" data-modal-toggle="create-section-modal">
      <span class="button__text">Create new section</span>
      <span class="button__icon">
        <svg class="w-5 h-5" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
          <!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M64.9 96C67.1 84.4 73.7 76.2 86 70.6c13.8-6.2 34.8-8.9 61.2-4.5c8.8 1.4 36.1 7.1 44.1 9.3c17 4.8 34.7-5.1 39.5-22.2s-5.1-34.7-22.2-39.5c-11.1-3.1-41-9.2-50.9-10.8C123-2.7 88.3-.6 59.7 12.3C29.9 25.8 7.5 50.9 1.6 86.5c-.1 .5-.2 1.1-.2 1.6c-2.2 19.7 .3 37.9 8.1 54.1c7.7 16.1 19.4 28 32 36.9c.6 .5 1.3 .9 2 1.4C22.3 194.2 6.5 215.1 1.7 243c-.1 .6-.2 1.1-.2 1.7c-2.3 19.3 .4 37.1 8.4 53c7.9 15.6 19.8 27 32.3 35.5c22.4 15.2 51.9 24 75.4 31c0 0 0 0 0 0l3.7 1.1c27.2 8.2 46.9 14.6 59.4 23.8c5.5 4 8.2 7.6 9.5 10.9c1.3 3.2 2.6 8.6 .9 18.1c-1.7 10.1-7.7 18-20.7 23.5c-14 6-35.4 8.5-62 4.4c-12.8-2.1-35.1-9.7-54.1-16.2c0 0 0 0 0 0c-4.3-1.5-8.5-2.9-12.3-4.2C25.3 420 7.2 429.1 1.6 445.8s3.5 34.9 20.3 40.5c2.6 .8 5.7 1.9 9.2 3.1c18.6 6.3 48.5 16.6 67.3 19.6c0 0 0 0 0 0l.2 0c34.5 5.4 68.8 3.4 97.2-8.7c29.4-12.6 52.5-36.5 58.5-71.5c3.3-19.3 1.9-37.4-5-53.9c-6.3-15-16.4-26.4-27.6-35.2c16.5-13.9 28.5-33.2 32.6-58.2c3.2-19.8 1.9-38.3-4.8-55.1c-6.7-16.8-17.8-29.4-30.2-39c-22.8-17.6-53.6-27.4-77.7-35l-1.4-.5c-27.4-8.7-47.8-15.3-61.5-25c-6.1-4.4-9.5-8.5-11.4-12.4c-1.8-3.7-3.2-9.3-2.3-18.5zm76.7 208.5l-.6-.2-1.4-.4c-27.4-8.2-47.9-14.5-61.7-23.8c-6.2-4.2-9.3-7.9-11-11.3c-1.5-3-2.9-7.7-2.1-15.7c1.9-9.7 7.9-17.3 20.5-22.7c14-6 35.4-8.5 62.1-4.3l16.4 2.6c6.3 2.9 11.7 6 16.2 9.5c5.5 4.2 8.4 8.2 10 12.2c1.6 4 2.8 10.4 1.1 20.9c-2.4 14.7-12.8 26.4-37.1 31l-12.4 2.3z"
          />
        </svg>
      </span>
    </button>

    <%- include('CreateSectionForm') %>
    <%- include('SectionInfoDrawer') %>

    <table id="example" class="display">
      <thead>
        <tr>
          <th id="id">ID</th>
          <th>Name</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Actions</th>
          <!-- New Actions Column -->
        </tr>
      </thead>
      <tbody>
        <!-- Table rows will be populated here by DataTables -->
      </tbody>
    </table>

    <script src="/js/time.js"></script>
    <script type="text/javascript">
      const data = <%- JSON.stringify(data) %>;
      const sections = data.sections;
      console.log(data);
      const table = $(document).ready(function () {
        $('#example').DataTable({
          data: sections,
          columns: [
            { data: '_id' },
            { data: 'name' },
            { data: 'createdAt' },
            { data: 'updatedAt' },
            {
              // Actions column
              data: null, // `null` because this column doesn't map to any field in the data source
              render: function (data, type, row) {
                // Customize the action buttons for each row
                const canDelete = row.deleteActivate;
                const body = `<svg width="20px" height="20px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7L288 480l9.4 0L512 480c17.7 0 32-14.3 32-32s-14.3-32-32-32l-124.1 0L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416l-9.4 0-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"
                  />
                </svg>
                <span>Delete</span>`
                const deleteButton = canDelete ? `<button type='button' onclick="confirmDelete('${row._id}', 'Are you sure to delete this section?')" class="delete-btn text-white gap-2 bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  ${body}
                </button>
              ` : `<button type='button' disabled class="delete-btn text-white gap-2 bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:cursor-not-allowed disabled:bg-red-300">
                  ${body}
                </button>`
                const editButton = `
                  <button
                    onclick="toggleEditDrawer('${row._id}')"
                    type="button"
                    class="w-[93px] edit-btn text-white gap-2 bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-start me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >
                    <svg width="20px" height="20px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path
                        d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"
                      />
                    </svg>
                    <span>Edit</span>
                  </button>
                `;
                return `
                      <div class="flex space-x-2">
                          <form id='delete-form-${row._id}' method="POST" action="/dashboard/admin/sections/delete-section/${row._id}">
                            ${deleteButton}
                          </form>
                          ${editButton}
                      </div>
                  `;
              },
              orderable: false, // Prevent ordering on the actions column
              searchable: false // Prevent searching on the actions column
            }
          ],
          columnDefs: [
            {
              targets: 0, // (_id)
              render: function (data, type, row, meta) {
                return `<div class="text-sm text-[#0082FF] px-4 py-2 font-mono text-center">
                  <div>${data}</div>
                </div>`;
              }
            },
            {
              targets: 1, // name
              createdCell: function (td, cellData, rowData, row, col) {
                $(td).addClass('font-bold font-serif text-[20px]');
              }
            },
            {
              targets: 2, // slug
              render: function (data, type, row, meta) {
                  return `<div class="flex gap-2 text-[#525252]">
                    ${formatDateTime(data)}
                </div>`;
              },
            },
            {
              targets: 3, // createdAt
              render: function (data, type, row, meta) {
                  return `<div class="flex gap-2 text-[#525252]">
                  ${formatDateTime(data)}
                </div>`;
              },
            },

          ],
          rowCallback: function (row, data, index) {
            // Apply styling to the entire row if necessary
            $(row).addClass('bg-white hover:bg-gray-100'); // Hover effect
            if (data.status === 'Failed') {
              $(row).addClass('bg-red-100'); // Add red background for rows with "Failed" status
            }
          },
          drawCallback: function (settings) {
            // Optional: Apply styles to pagination buttons
          },
          language: {
            search: 'Search articles:',
            searchPlaceholder: 'Type to search...'
          },
          lengthChange: false,
          pageLength: 10 // Default page size
        });
      });
    </script>

    <script src="/js/swal.js"></script>

    <script>
      const select = document.getElementById('parentSection-input');
      const drawerSelect = document.getElementById('parentSection-input-drawer');
      sections.forEach((section) => {
        const option = document.createElement('option');
        option.value = section._id;
        option.textContent = section.name;
        select.appendChild(option);
        drawerSelect.appendChild(option);
      });
    </script>

    <script src="/js/drawer.js"></script>
    <script>
      function toggleEditDrawer(id) {
        const section = sections.find((section) => section._id === id);
        console.log(section);
        document.getElementById('_id-input').value = section._id;
        document.getElementById('name-input').value = section.name;
        toggleDrawer('section-info-drawer');
      }
    </script>
  </body>
</html>
