<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/editor.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="input-group">
      <input type="text" id="title" placeholder="Title" class="input-field" />
    </div>
    <div class="input-group-inline">
      <textarea class="input-field" name="" id="desc" rows="4" placeholder="Description"></textarea>
    </div>
    <div class="input-group-inline">
      <select id="layout" placeholder="Background" class="input-field-inline" onchange="">
        <!-- <option>Choose a layout</option> -->
        <option value="1">Text on the left</option>
        <option value="2">Text on the right</option>
        <option value="3">Default</option>
      </select>
      <select id="theme" placeholder="Background Color" class="input-field-inline">
        <option value="dark">Dark</option>
        <option value="light">Light</option>
      </select>
    </div>
    <section class="header-container">
      <div class="header-card">
        <div class="header-content">
          <div id="image-preview" class="header-image-upload">
            <input id="upload" type="file" class="hidden" accept="image/*" />
            <label for="upload" class="header-upload-label">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="header-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
              </svg>
              <h5 class="header-title">Upload picture</h5>
              <p class="header-description">Choose photo size should be less than <b class="header-highlight">2mb</b></p>
              <p class="header-description">and should be in <b class="header-highlight">JPG, PNG, or GIF</b> format.</p>
              <span id="filename" class="header-filename"></span>
            </label>
          </div>
          <div class="header-submit-container">
            <div class="header-button-container">
              <label class="header-submit-button">
                <span class="header-button-text">Upload</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="layout-preview"></div>

    <script></script>
    <script src="/js/editor.js"></script>
  </body>
</html>
