<div class="flex flex-col jusitfy-between items-center z-0">
  <div id="card-image " class="h-3/5 bg-violet-400 bg-cover bg-no-repeat transition-all">
    <a href="">
      <img
        src="https://www.washingtonpost.com/wp-apps/imrs.php?src=http://img.washingtonpost.com/rf/image_908w/2010-2019/Wires/Images/2016-05-11/AP/North_Korea_The_Real_Kim-fbf19.jpg&w=1440"
        alt="kim-jong-un-image"
      />
    </a>
  </div>
  <div id="card-content" class="z-0 relative h-2/5 flex flex-col justify-evenly bg-white">
    <div id="card-cat" class="absolute bg-red-600 font-serif text-white p-1 pl-2 pr-2 text-sm hover:bg-red-700 transition-all duration-300" style="top: -15%; left: 4%">
      <a href="">Giải trí</a>
    </div>
    <h1 id="card-title" class="h-4/5 flex justify-start items-center font-bold font-serif pt-3 text-lg hover:text-red-500 transition-all duration-300">
      <a href=""> What Russia and Ukraine Want from a Second Trump Presidency </a>
    </h1>
    <div id="card-author" class="h-1/5 flex justify-end items-center font-bold self-end text-sm w-full italic">
      <a href="">"By Joshua Yaffara"</a>
    </div>
  </div>
</div>
